#main_search{
    position: fixed;
    width: 50%;
    top: 10px;
    left: 25%;
    margin: 0 auto 0;
    z-index: 1;

}
#header{
    background-color: grey;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1;
}

.card, .card_container{
    margin-top:70px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline-table;
    width: 31.5%;
    margin-left: 1pc;
}
.inner_card{
    margin: 0px;
    display: block;
    width: 100%;
}
#subtitle{
    white-space:nowrap;
    padding-left:3em;
    font-size: 50%;
}
.card-comments{
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-bottom: -10px !important;
}
.review{
    max-height: 100px;
    overflow: hidden;
}
#cover{
    max-height: 250px;
    max-width: 250px;
}
#cover_container{
    text-align: center;
}
#status_selector{
    width: 100px;
}
#episode_selector{
    width: 50px;
}
#review_box{
    width: 100%;
    margin-right: -10px;
    right: 9px;
    height: 100px;
    position: relative;
}
/* User Pages
*/
.rec_cover{
    max-width: 130px;
    max-height: 200px;
}
.watching_cover{
    max-width: 130px;
    max-height: 200px;
}
.watching_hover{
    opacity: 0.0;
    top: -150px;
    position: relative;
    left: 14px;
    margin-bottom: -80px
}
.watching_hover:hover{
    opacity: 0.9;
}
#sitename{
    font-family: 'Berkshire Swash', sans-serif;
    color:rgb(226, 10, 157);    
    margin-left: 130px;
    margin-top: 4px;
}