#search_container{
    width: 50%;
    top: 10px;
    left: 25%;
    margin: 0 auto 0;
    margin-top: -50px;
}
#main_search{
    width: 80%;
    display: inline-block;
}
#main_search_dropdown{
width: initial;

}

#header{
    background-color: indigo;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1;
}


#results{
    position: relative;
    top:60px;
    width: 70%;
    left:15%;
}
#no_results{
    position: relative;
    top:70px;
    left:40%;
    font-size: 200%;
}

#sitename{
    font-family: 'Berkshire Swash', sans-serif;
    color:rgb(226, 10, 157);    
    margin-left: 130px;
    margin-top: 10px;
}
#homelink{
     text-decoration: none;
}

