<html lang="en">
  <head>
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Nixie One&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootplus.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/main.css" rel="stylesheet">  <!--Bootstrap CSS-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->

    <script src="/static/js/chartjs/Chart.min.js"></script> <!--jsCharts-->
    <script src="/static/js/datacharts.js"></script> <!--Our graphs-->

    <script>
      $(document).ready(function(){
          createCoverGraphs();
      });
    </script>
    <style type="text/css">
      body{
        background-image:url('/media/{{image.obj}}');
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <a href="settings.html" id="settings">&#9881;</a>

    <!-- Main Content -->
    <div style="text-align:center">
      <h1 class="green button" id="add_item" ><a href="add_item.html">~</a></h1>
      <h1 id="site_name" >Tilde</h1>
      <h1 class="green button" id="add_item" ><a href="add_item.html">~</a></h1>
    </div>
<!--      <input id="main_search" type="text" placeholder="Search" class="form-control">-->
    <div  style="text-align:center">
      <a href="stats">
        <canvas id="graph" width="800" height="350"></canvas>
      </a>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Sign Up / Login</h4>
          </div>
          <div class="modal-body">
            <input type="text" placeholder="Username" class="form-control loginform" id="username">
<!--             <input type="text" placeholder="Email" class="form-control loginform" id="email"> -->
            <input type="password" placeholder="Password" class="form-control loginform" id="password">
          </div>
          <div class="modal-footer">
            <button type="button" id="login_btn" class="btn btn-primary" >Signup / Login </button>  <!--value="{% csrf_token %}"-->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
