<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Berkshire Swash&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/main.css" rel="stylesheet">  <!--Bootstrap CSS-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->

    <script>

      function post_to_url(path, params, method) {
          method = method || "post"; // Set method to post by default if not specified.

          // The rest of this code assumes you are not using a library.
          // It can be made less wordy if you use one.
          var form = document.createElement("form");
          form.setAttribute("method", method);
          form.setAttribute("action", path);

          for(var key in params) {
              if(params.hasOwnProperty(key)) {
                  var hiddenField = document.createElement("input");
                  hiddenField.setAttribute("type", "hidden");
                  hiddenField.setAttribute("name", key);
                  hiddenField.setAttribute("value", params[key]);

                  form.appendChild(hiddenField);
               }
          }

          document.body.appendChild(form);
          form.submit();
      }

      $(document).ready(function(){
          $('#main_search').keypress(function(e){
            if(e.keyCode==13)
               window.location = "search?q="+$("#main_search").val();
          });
          $("#login_btn").click(function(){
            console.log("hi");
            post_to_url('login/', {username: $("#username").val() ,password: $("#password").val() });
          })
      });




    </script>
    <style type="text/css">
      body{
        background-image:url('/media/{{image.obj}}');
        background-size: cover;
      }
    </style>
  </head>

  <body>
    {% if not user %}
    <a href="#" data-toggle="modal" data-target="#myModal" id="login">Sign Up / Login</a>
    {% else %}
    <a href="user/{{user.id}}" id="login"> {{user.username}}</a>

    {% endif %}
    <!-- Main Content -->
      <h1>Trackr</h1>
<!--      <input id="main_search" type="text" placeholder="Search" class="form-control">-->

<div class="input-prepend" id="search_container">
  <!-- Search Bar -->
  <input class="span2 form-control" id="main_search" type="text">
  <!-- Search Dropdown-->
  <select name="media">
    <option value="">TV Show</option>
    <option value="">Movie</option>
    <option value="">Anime</option>
    <option value="">Manga</option>
    <option value="">Book</option>
    <option value="">Game</option>
  </select>
</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Sign Up / Login</h4>
          </div>
          <div class="modal-body">
            <input type="text" placeholder="Username" class="form-control loginform" id="username">
            <input type="text" placeholder="Email" class="form-control loginform" id="email">
            <input type="password" placeholder="Password" class="form-control loginform" id="password">
          </div>
          <div class="modal-footer">
            <button type="button" id="login_btn" class="btn btn-primary" >Signup / Login </button>  <!--value="{% csrf_token %}"-->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
