
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Berkshire Swash&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootplus.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/search.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/item.css" rel="stylesheet">  <!--Bootstrap CSS-->


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->
    <script src="/static/js/bootstrap.js"></script>

    <script>

      $(document).ready(function(){
          //enable searchbar
          $('#main_search').keypress(function(e){
            if(e.keyCode==13)
               window.location = "/search?q="+$("#main_search").val();
          });
          //expand condese
          $('.review_expand').click(function() {
            item = $(this).parent().parent().parent().find(".review");
            if(item.css("max-height") != "100%"){
              item.css("max-height","100%");              
            }else{
              item.css("max-height","100px");              
            }
          });

          //fill out status
          {% if status.progress %}
          console.log("We have your status")
          progress = {{status.progress}};
          switch(progress){
            case 1:
              //watched
              console.log("WATCHED");
              $(".progress").html('<div class="bar bar-success" style="width: 100%;"></div>');
              $("#status_selector").children("option")[2].selected = true;
              break;
            case 2:
              //watching
              console.log("WATCHING");
              $(".progress").html('<div class="bar" style="width: '+({{status.amount}}/{{item.amount}} * 100) +'%;"></div>')
              $("#status_selector").children("option")[1].selected = true;
              break;
            case 5:
                console.log("TO WATCH");
                $("#status_selector").children("option")[3].selected = true;
  //            $(".progress").html('<div class="bar" style="width: 40%;"></div>')
              break;
            case 3:
              console.log("DROPPED");
              $(".progress").html('<div class="bar bar-danger" style="width: '+({{status.amount}}/{{item.amount}} * 100) +'%;"></div>')
              $("#status_selector").children("option")[4].selected = true;
              break;
            case 4:
              console.log("AVOID");
  //            $(".progress").html('<div class="bar" style="width: 40%;"></div>')
              $("#status_selector").children("option")[5].selected = true;
              break;
          }

          {% endif %}
      });
      function handleError(data){
        console.log(data);
      }
      function handleData(data){
        console.log(data);
      }

      function update_status(){
        //TODO: Verify that form info is okay.
        type = $("#status_selector").val();
        ep = $("#episode_selector").val();
        $.ajax({
          type: "POST",
          url: "{{item.id}}/status_update/",
          data: {type: type,episode: ep,user_id: {{user.id}}},
          success: handleData,
          error: handleError
        });
        switch(type){
          case "watched":
            $(".progress").html('<div class="bar bar-success" style="width: 100%;"></div>')
            break;
          case "watching":
            $(".progress").html('<div class="bar" style="width: '+(ep/{{item.amount}} * 100) +'%;"></div>')
            break;
          case "towatch":
//            $(".progress").html('<div class="bar" style="width: 40%;"></div>')
            break;
          case "dropped":
            $(".progress").html('<div class="bar bar-danger" style="width: '+(ep/{{item.amount}} * 100) +'%;"></div>')
            break;
          case "avoid":
//            $(".progress").html('<div class="bar" style="width: 40%;"></div>')
            break;
        }
      }

    </script>
  </head>

  <body>

    <!-- Main Content -->
    <div id="header"> <a id="homelink" href="/"><h3 id="sitename">Trackr</h3></a>
    
    <div id="search_container">
      <input id="main_search" type="text" placeholder="Search" class="form-control">
      <select id="main_search_dropdown" name="media">
        <option value="">TV Show</option>
        <option value="">Movie</option>
        <option value="">Anime</option>
        <option value="">Manga</option>
        <option value="">Book</option>
        <option value="">Game</option>
      </select>
    </div>

  </div>
    <!-- Title Card -->
    <div class="card">
       <h3 class="card-heading simple">{{item.name}} 
         <!-- <span id="subtitle"> &nbsp;{{item.total_views}} views  - {{item.average_num_stars}}/5 Stars</span> -->
         <span id="subtitle"> &nbsp;{{item.item_type}}</span>
       </h3>
           <div class="card-body">
       <div id="cover_container">
         <img src="{{item.cover_photo.url}}" id="cover" />
       </div>
          {{item.description}}   
       </div>
    </div>

    <!-- Progress Card -->
    <div class="card_container">
      <div class="card inner_card" style="display:compact">
         <h3 class="card-heading simple">My Status</h3>
         <div class="card-body">
            <b>Status:</b> 
            
            <select id="status_selector" onChange="update_status()">
              <option value="none" selected="selected">None</option>
              <option value="watching">Watching</option>
              <option value="watched" >Watched</option>
              <option value="towatch">To Watch</option>
              <option value="dropped">Dropped</option>
              <option value="avoid">Avoid</option>
            </select>
            <input id="episode_selector" value="0" type="number" onChange="update_status()" min="0" max="{{item.amount}}" /> - {{item.amount}} Eps, {{item.runtime}} mins each
            

            <p />
            <b>Progress:</b> 
            <div class="progress progress-striped active">

            </div>
            <b>Tags:</b> 
            {% if tags %}
              {% for t in tags %}
              <a href="#">{{t.name}}</a>
              {% endfor %}
            {% endif %}
         </div>
         <div class="card-comments">
            <div class="comments-collapse-toggle">
               <a data-toggle="collapse"  href="#c1-comments">More Info ▼ <i class="icon-angle-down"></i></a>
            </div>
            <div id="c1-comments" class="comments collapse">
               <div class="media">
                 <b>Producers:</b> {{item.production}}<p />
                 <b>Director:</b> {{item.director}}<p />
                 <br />
                 <b>Purchase: </b> <a href="http://www.amazon.co.uk/s/?field-keywords={{item.name}}">Amazon</a><br />
                 <b>Torrent: </b><a href="http://www.nyaa.se/?page=search&cats=0_0&filter=0&term={{item.name}}">Nyaa</a>
               </div>
            </div>
         </div>
      </div>


    </div>

    <div class="card">
       <h3 class="card-heading simple">Reviews & News Articles</h3>
       {% for review in reviews %}
         <div class="review-container">
           <div class="card-body">
              {{review.author}}:
              <p />
              <div class="review">
                {{review.contents}}
              </div>
           </div>
         </div>
       {% endfor %}
       </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
