<html lang="en">
  <head>
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Nixie One&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootplus.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/main.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/item.css" rel="stylesheet">  <!--Bootstrap CSS-->


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->

    <script src="/static/js/chartjs/Chart.min.js"></script> <!--jsCharts-->
    <script src="/static/js/datacharts.js"></script> <!--Our graphs-->

    <script type="text/javascript">
    $(document).ready(function(){
    $(':radio').change(
      function(){
        $('.choice').text( this.value + ' stars' );
      } 
    )
    });
    </script>
  </head>

  <body>
    <a href="settings.html" id="settings">&#9881;</a>
    <!-- Main Content -->
    <div style="text-align:center;font-size:30%;">
      <h1 class="green button" id="add_item" ><a href="add_item.html">~</a></h1>
      <h1 id="site_name" >Tilde</h1>
      <h1 class="green button" id="add_item" ><a href="add_item.html">~</a></h1>
    </div>
  <hr style="margin: -10 0 20;border: 1px solid grey;">
    <div style="text-align:center">
      <form action="do_add_item.html" method="post" id="item_form">
        <table>
          <!-- -->
          <tr>
            <td>
              Title
            </td>
            <td>
              <input id="title" type="text" name="title"><br> 
            </td>
          </tr>
          <!-- -->
          <tr>
            <td>
              Alt. Titles
            </td>
            <td>
              <input id="alttitle" type="text" name="alttitle"><br> 
            </td>
          </tr>
          <!-- -->
          <tr>
            <td>
              Type
            </td>
            <td>
              <select name="mediatype" id="mediatype">
                <option value="anime">Anime</option>
                <option value="manga">Manga</option>
                <option value="game">Game</option>
                <option value="music">Music</option>
                <option value="book">Book</option>
                <option value="tv">TV</option>
              </select>
            </td>
          </tr>
          <!-- -->
          <tr>
            <td>
              Cover
            </td>
            <td>
              <img src="/static/images/noimage.png" width="200px"/><br>
              <input id="coverphoto" type="file" name="coverphoto" accept="image/*">
            </td>
          </tr>          
          <!-- -->
          <tr>
            <td>
              Status
            </td>
            <td>
              <div id="progress">
                <input type="radio" name="progress" value="wishlist">Wishlist
                <input type="radio" name="progress" value="completed">Completed
                <input type="radio" name="progress" value="in_progress">In Progress
                <input type="radio" name="progress" value="avoid">Avoid
                <input type="radio" name="progress" value="dropped">Dropped
              </div>
            </td>
          </tr>    
          <!-- -->
          <tr>
            <td>
              Rating
            </td>
            <td>
              <span class="star-rating" >
                <input type="radio" id="stars" name="rating" value="1"><i></i>
                <input type="radio" id="stars" name="rating" value="2"><i></i>
                <input type="radio" id="stars" name="rating" value="3"><i></i>
                <input type="radio" id="stars" name="rating" value="4"><i></i>
                <input type="radio" id="stars" name="rating" value="5"><i></i>
              </span>
            </td>
          </tr>  
          <!-- -->
          <tr>
            <td>
              Amount
            </td>
            <td>
              <input id="amount"  type="number" name="amount" style="width:70px" maxlength=3 >
            </td>
          </tr>  
          <!-- -->
          <tr>
            <td>
              Length (Minutes)
            </td>
            <td>
              <input id="length" type="number" name="length" style="width:70px" maxlength=3 >
            </td>
          </tr>  
          <!-- -->
          <tr>
            <td>
              Tags (Comma Seperated)
            </td>
            <td>
              <input id="tags" type="text" name="genre" >
            </td>
          </tr>  
          <!-- -->
          <tr>
            <td>
              Notes/Websites:
            </td>
            <td>
              <input id="notes" type="text" name="notes"> 
            </td>
          </tr>  
        </table>

        <input type="submit" value="Submit">
      </form>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
