<html lang="en">
  <head>
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Nixie One&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootplus.min.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/main.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/library.css" rel="stylesheet">  <!--Bootstrap CSS-->


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->

    <script src="/static/js/chartjs/Chart.min.js"></script> <!--jsCharts-->
    <script src="/static/js/datacharts.js"></script> <!--Our graphs-->
  </head>

  <body>
    <a href="settings.html" id="settings">&#9881;</a>
    <a href="library.html">
      <img src="/static/images/list.svg" id="library" />
    </a>
    <!-- Main Content -->
    <div style="text-align:center;font-size:30%;" id="barrier" >
      <h1 class="green button" id="add_item" ><a href="add_item.html">~</a></h1>
      <h1 id="site_name" >Tilde</h1>
      <h1 class="green button" id="add_item" ><a href="add_item.html">~</a></h1>
    </div>
    <hr style="margin: -10 0 20;border: 1px solid grey;">
    <div style="text-align:center">

      <div> Set filters</div>

      <div id="chartset">
        <table class="table table-striped table-condensed table-bordered">
          <tr>
            <th>
              Title
            </th>
            <th>
              Type
            </th>
            <th>
              Progress
            </th>
            <th>
              Rating
            </th>
          </tr>
          {% for x in item_list %}
          <tr>
            <td>
              {{x.name}}
            </td>
            <td>
              {{x.get_item_type_display}}
            </td>
            <td>
              {{x.get_progress_display}}
            </td>
            <td>
              {{x.rating}}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
