
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Berkshire Swash&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootplus.css" rel="stylesheet">  <!--Bootstrap CSS-->

    <link href="/static/css/search.css" rel="stylesheet">  <!--Bootstrap CSS-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->

    <script>
      $(document).ready(function(){
          $('#main_search').keypress(function(e){
            if(e.keyCode==13)
               window.location = "/search?q="+$("#main_search").val();
          });
      });
    </script>
  </head>

  <body>

    <!-- Main Content -->
    <div id="header">
      <a id="homelink" href="/"><h3 id="sitename">Trackr</h3></a>

      <div id="search_container">
        <input id="main_search" type="text" placeholder="Search" class="form-control">
        <select id="main_search_dropdown" name="media">
          <option value="">TV Show</option>
          <option value="">Movie</option>
          <option value="">Anime</option>
          <option value="">Manga</option>
          <option value="">Book</option>
          <option value="">Game</option>
        </select>
      </div>
    </div>
    {% if results %}
    <table class="table " id="results">  <!--table-striped table-bordered-->
        {% for x in results %}
          <tr><td><a href="item/{{x.id}}">{{x.name}}</a> </td></td>
        {% endfor %}
    </table>
    {% else %}
      <div id="no_results" >No Results Found ;_;</div>
    {% endif %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
