
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tracker</title>

    <link href="//fonts.googleapis.com/css?family=Berkshire Swash&subset=latin" rel="stylesheet" type="text/css">
    <link href="/static/css/bootplus.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/search.css" rel="stylesheet">  <!--Bootstrap CSS-->
    <link href="/static/css/item.css" rel="stylesheet">  <!--Bootstrap CSS-->


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> <!--jQueryUI-->
    <script src="/static/js/bootstrap.js"></script>

    <script>

      $(document).ready(function(){
          $('#main_search').keypress(function(e){
            if(e.keyCode==13)
               window.location = "/search?q="+$("#main_search").val();
          });
          $('.review_expand').click(function() {
            item = $(this).parent().parent().parent().find(".review");
            if(item.css("max-height") != "100%"){
              item.css("max-height","100%");              
            }else{
              item.css("max-height","100px");              
            }
          });
      });

    </script>
  </head>

  <body>

    <!-- Main Content -->
    <div id="header"> </div>
    <div id="header"> <a id="homelink" href="/"><h3 id="sitename">Trackr</h3></a></div>
    <input id="main_search" type="text" placeholder="Search" class="form-control">

    <!-- Title Card -->
    <div class="card">
       <h3 class="card-heading simple">{{user.username}} <span id="subtitle"> Main User</span></h3>
           <div class="card-body">
       <div id="cover_container">
         {% if user.avatar %}
         <img src="{{user.avatar.url}}" id="cover" onerror="alert('The image could not be loaded.')" />
         {% else %}
         <img src="/media/avatars/default_avatar.png" id="avatar" />
         {% endif %}
       </div>
          {{item.description}}
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
       </div>
    </div>

    <!-- Progress Card -->
    <div class="card_container">
      <div class="card inner_card" style="display:compact">
         <h3 class="card-heading simple">Statistics</h3>
         <div class="card-body">
            <b>Reviews: </b>{{user.amount_of_reviews}}


            <p />
            <b>Overall:</b>
            <div class="progress progress-striped active">
              <script type="text/javascript">
                var fill_bar = 
                {% for s in statuses %}
                    {{s.progress}} + "," + 
                {% endfor %}
                "";
                status_vals = fill_bar.split(",");
                status_vals.pop();  //remove empty element at end.

                total = 0;

                NOT_STARTED = 0
                FINISHED = 1
                IN_PROGRESS = 2
                DROPPED = 3
                AVOID = 4
                WISHLIST = 5

                ns_total = 0;
                f_total = 0;
                ip_total = 0;
                d_total = 0;
                a_total = 0;
                w_total = 0;


                for(i = 0;i != status_vals.length; i++){
                  total += 1;
                  switch(parseInt(status_vals[i])){
                    case NOT_STARTED:
                      ns_total += 1;
                      break;
                    case FINISHED:
                      f_total += 1;
                      break;
                    case IN_PROGRESS:
                      ip_total += 1;
                      break;
                    case DROPPED:
                      d_total += 1;
                      break;
                    case AVOID:
                      a_total += 1;
                      break;
                    case WISHLIST:
                      w_total += 1;
                      break;
                    default:
                      console.log(status_vals[i])
                  }
                }
                console.log("Total Reviews: " + total);
                console.log(ns_total);
                console.log(f_total);
                console.log(ip_total);
                console.log(d_total);
                console.log(a_total);
                console.log(w_total);

                $(".progress").append('<div class="bar bar-warning" style="width: '+ns_total/total* 100+'%;"></div>') //How much I have not started
                $(".progress").append('<div class="bar bar-success" style="width: '+f_total/total* 100+'%;"></div>')  //How much I Finished
                $(".progress").append('<div class="bar bar-info" style="width: '+ip_total/total * 100+'%;"></div>')         //How much I am Watching 
                $(".progress").append('<div class="bar bar-danger" style="width: '+d_total/total* 100+'%;"></div>')   //How much I have dropped
                $(".progress").append('<div class="bar bar-default" style="width: '+a_total/total * 100+'%;"></div>')         //How much I have avoided
                $(".progress").append('<div class="bar" style="width: '+w_total/total * 100+'%;"></div>')         //How much I have on my wishlist

              </script>
<!--               <div class="bar" style="width: 40%;"></div>
              <div class="bar bar-warning" style="width: 10%;"></div>
              <div class="bar bar-danger" style="width: 15%;"></div> -->
            </div>
            <b>Most Relevant Tags:</b> 
            {% if not user.awards %}
              None
            {% endif %}
            <p />
            <b>Awards:</b> 
            {% if not user.awards %}
              None
            {% endif %}

         </div>
      </div>
      <div class="card inner_card" style="display:compact">
         <h3 class="card-heading simple">Recommended Series</h3>
         <div class="card-body">
            <img class="rec_cover" src="/static/images/cover.jpg" />
         </div>
      </div>


    </div>

    <div class="card">
       <h3 class="card-heading simple">Quick Increment</h3>
         <div class="watching-container">
           <div class="card-body" id="increment_section" >

              {% for s in statuses %}
                <div class="watching_item">
                  <img class="watching_cover" src="/media/{{s.what.cover_photo}}" />
                  <div class="watching_hover">
                    <svg height="100" width="100">
                      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="0" fill="grey" />
                      <text x="25" y="62" font-size="300%" fill="white">+1</text>
                    </svg>
                  </div>
                </div>
<!--                 {{s.what.name}} - 1123/5231  -->
              {% endfor %}

           </div>
         </div>
       </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
